<aside class="col-3 border border-blue bg-white p-3">
<article class="card mb-3">
		<div class="card-header">
			Service
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('gestion_service_index') }}">Liste des services</a>
			</p>
			<p>
				<a href="{{ path('gestion_service_add') }}">Ajouter un service</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">
			Horaires
		</div>
		<div class="card-body">
			<p>
				<a href="{{ path('gestion_horaire_index') }}">Modifier les horaires</a>
			</p>
		</div>
	</article>
</aside>
