{% extends 'base.html.twig' %}

{% block body %}
	<p class="d-inline-flex gap-1">
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="true" aria-controls="multiCollapseExample1 multiCollapseExample2">Nos Services</button>
	</p>
	<div class="row">
		<div class="col">
			<div class="collapse multi-collapse" id="multiCollapseExample1">
				<div class="card card-body">
					<div class="list-group">
						{% for service in services %}
							<p class="list-group-item list-group-item-action list-group-item-secondary bts">{{service.title}}</p>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="jumbotron">
				 {# {% include 'home/_filter.html.twig' with {form: form} only %} #}
					</div>
					<div class="col-md-9 card-group">			
							{% for voiture in voitures %}
								{% include 'home/_voitures.html.twig' with {voiture: voiture} only %}
							{% endfor %}
					</div>
				</div>
			</div>
		{% endblock %}
