.form {
  background-color: #F0EEE9;
  border-radius: 10%;
  padding: 20px;
}

.d-block {
  border-radius: 10%;
}

.cards {
  background-color: #F0EEE9;
  color: #27C7D4;
}

.txt {
  font-family: Trebuchet MS;
}

.bt1 {
  color: #00353F;
  font-family: Géorgie;
}

.bt1:hover {
  color: #19A7CE;
}

.nav {
  background-color: #FFEAD2;
}

.btn {
  color: #00353F;
  background-color: #b6e2d3;
}

.btn:hover {
  color: #B6EAFA;
  background-color: #86b4a5;
}

.btm {
  color: #00353F;
  background-color: #FFEAD2;

}

.btm:hover {
  color: #000000;
  background-color: #0099ff;
}

.img {
  background-image: url(../upload/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}



@media only screen and (min-device-width: 400px) {
  .img {
    background-image: url(../upload/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 770px;
  }

} 